*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/shelf/
gradle.properties
.envrc
*.pepk
*.jks
app/release/app-release.*
app/debug/app-debug.*
app/src/debug/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/google-services.json
